<header class="site-header">

  <!-- ROW 1 -->
  <div class="header-row header-row-top">
    <a class="site-title" href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>

    <nav class="site-nav">
      <a href="{{ 'about' | relative_url }}">About</a>
      <a href="{{ 'contact' | relative_url }}">Contact</a>
      <a href="https://tellusant.com" target="_blank">Tellusant</a>
    </nav>
  </div>

  <!-- ROW 2 -->
  <div class="header-row header-row-bottom">
    <form action="{{ "/search/" | relative_url }}" method="get" class="header-search-form">
      <input
        type="search"
        name="q"
        placeholder="Search…"
        aria-label="Search"
        class="header-search-input"
      >
    </form>
  </div>

</header>
