<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://canback.net/docs/about/#person",
  "name": "Staffan Canback",
  "url": "https://canback.net/docs/about/",
  "worksFor": {
    "@type": "Organization",
    "@id": "https://tellusant.com/#organization",
    "name": "Tellusant, Inc.",
    "url": "https://tellusant.com/"
  }
}
</script>
